{
  "AWSEBDockerrunVersion": "1",
  "Image": {
    "Name": "916652753946.dkr.ecr.eu-west-2.amazonaws.com/sorting-visualiser:<TAG>",
    "Update": "true"
  },
  "Ports": [
    {
      "ContainerPort": "5000"
    }
  ]
}
